div {
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(192, 192, 192);
    border: 1px solid black;
}

header {
    margin-left: 36.5%;
}

h3 {
    padding-left: 15px;
}

img {
    width: 400px;
    height: 300px;
    margin-left: 32%;
    margin-top: 15px;
    border: 1px solid black;
}

p {
    text-align: center;
}

.favorite {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.place{
    color:green;
}

.food{
    color: white;
}

#moment{
    color: red;
}

li {
    padding-bottom: 15px;
}